.root{
  font-size:13px;
  margin-top:10px;
  padding: 1px;
}

.time,.cpu,.ram{
  background-color:#5c5f77;
  padding:8px 20px;
  border-radius:7px;
  color:white;
}

.toggle{
  background-color:#a832a4;
  font-size:20px;
  color:red;
  padding:5px 30px;
}


.root{
  padding:5px 5px;
}

